<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Store_Acconting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Store_Acconting.Properties.color" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="Acconting_DBEntities" connectionString="metadata=res://*/AccontingModel.csdl|res://*/AccontingModel.ssdl|res://*/AccontingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Acconting_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <Store_Acconting.Properties.Settings>
      <setting name="HeaderColor" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="HeaderColorDefult" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="BackColorDefult" serializeAs="String">
        <value>White</value>
      </setting>
    </Store_Acconting.Properties.Settings>
    <Store_Acconting.Properties.color>
      <setting name="color1" serializeAs="String">
        <value>Blue</value>
      </setting>
    </Store_Acconting.Properties.color>
  </userSettings>
</configuration>